/*Style for all buttons*/
.button {
	border: 1px solid #CCC;
	background-color: #EEE;
	color: #000;
	cursor: pointer;
	font-size: 13px;
	height: 26px;
}

.button:hover {
	border: 1px solid #CCC;
	background-color: #EEE;
	color: #000;
	cursor: pointer;
	font-size: 13px;
	height: 26px;
}

.searchButton{
	background-image: url(../images/system/lupa.png);
	background-repeat: no-repeat;
	border: none;
	width: 22px;
	height: 22px;
}

