/*Style for all selectBox*/
.combo {
	border: 1px solid #CCC;
	margin-top: 5px;
	width: 258px;
	height: 24px;
	font-size: 13px;
	padding-top: 2px;
}

.combo300 {
	border: 1px solid #eee;
	margin-top: 2px;
	width: 308px;
	height: 13px;
	font-size: 10px;
}
