/*Style for all links*/
.link {
	margin-left: 0px;
	padding: 0px;
	float: right;
	color: #FFFFFF;
	font-size: 9pt;
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

.linkTopMenu {
	margin-left: 0px;
	margin-top: 0px;
	padding: 0px;
	float: left;
	font-size: 9pt;
	text-decoration: none;
	color:#FFFFFF;
	font-weight: bold;
}

.linkTopMenu:hover {
	color:#FFFFFF;
	text-decoration: underline;
}

.linkLeftMenu {
	margin-left: 0px;
	margin-top: 0px;
	padding: 0px;
	color: #000000;
	float: left;
	text-decoration: none;
	font-weight: bold;
	font-size: 9pt;
}

.linkLeftMenu:hover {
	text-decoration: underline;
	font-weight: bold;
	color: #000000;
	font-size: 9pt;
}